<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3TBzr-XWnSXxh97y-reAzr3DE-rlFL5I</string>
	<key>GCM_SENDER_ID</key>
	<string>259410824527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alizamannadirzada.AuthAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>authappfirebase-5cb78</string>
	<key>STORAGE_BUCKET</key>
	<string>authappfirebase-5cb78.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259410824527:ios:05b7a591347683b924493a</string>
</dict>
</plist>